
<main class="content">
  <div class="page-header">
    <h1>Welcome to Use General Data Query Tool</h1>
    <p>Supply the DB connection Info and have a try.(Only support single table query, now only tested against MySQL)</p>
  </div>

  <div class="content-cards">

    <div class="card">
      <h3>1. Input DB Conn Info</h3>
      <p></p>
      &nbsp;&nbsp;&nbsp;DB Type:
      <select
        [(ngModel)]="selectedDBType"
        (change)="clearTableNameDropdown()"
        class="custom-select">
        @for (option of supportedDB; track option) {
          <option [value]="option">
            {{ option }}
          </option>
        }
      </select>
      <br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;URL:
      <input
        type="text"
        [(ngModel)]="url"
        (change)="clearTableNameDropdown()"
        placeholder="Please Input DB URL"
        class="custom-input"
      >
      <br/>
      UserName:
      <input
        type="text"
        (change)="clearTableNameDropdown()"
        [(ngModel)]="userName"
        placeholder="Please Input DB Name"
        class="custom-input"
      >
      <br/>
      &nbsp;&nbsp;Password:
      <input
        type="password"
        (change)="clearTableNameDropdown()"
        [(ngModel)]="password"
        placeholder="Please Input DB Password"
        class="custom-input"
      >
      <br/>
      <br/>
     <div style="text-align: center">
       <button class="basic-btn" (click)="connect();">Connect</button>
     </div>
    </div>

    <div class="card">
      <h3>2. Listed Tables</h3>
      <p>Once DB connected you will see all the available tables In below dropdown.</p>
      <br/>
      Available Tables:
      <select
        [(ngModel)]="selectedDBTable"
        (change) = "clearSelected();searchTableData()"
        class="custom-select">
        @for(option of allTables;track option){
          <option [value]="option">
            {{ option }}
          </option>
        }
      </select>
      <!-- tips -->
      @if (loadingMessage) {
        <div class="message-box" [class.loading]="isLoading">
          {{ loadingMessage }}
        </div>
      }
    </div>

    <div class="card">
      <h3>3. Check Records</h3>
      <p>Once you select a table, the table records will be populated in below card automatically.</p>
    </div>
  </div>
  <div class="content-cards-result">
    <div class="card">
      <h3>Results：</h3><button (click)="searchTableData()" class="basic-btn" style="float:right ">Search</button>
      <p>Here you can check the table records, also you can query again by selecting criteria.</p>
      <!--show grid data here-->
      <div class="container" style="overflow: scroll;scrollbar-width: thin">
        @if (gridData.columns && gridData.columns.length>0) {
          <table class="data-table">
            <thead>
            <tr>
              @for (col of gridData.columns; track col; let i=$index) {
                <th>
                  {{col}}
                  <input title="Unchecked and click search to remove" type="checkbox" checked="checked" style="margin-right: 15px;" (change)="updateSelectedColumn($event,col)">

                  <span (click)="orderByDesc(col)" title="Desc">
                     <svg style="margin-right: 15px;" viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1em" height="1em" data-icon="down" aria-hidden="true">
                      <path d="M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3.1-12.7-6.4-12.7z"></path>
                      <title>Desc</title>
                    </svg>
                  </span>

                  <span (click)="orderByAsc(col)" title="Asc">
                    <svg viewBox="64 64 896 896"  focusable="false" fill="currentColor" width="1em" height="1em" data-icon="up" aria-hidden="true">
                      <path d="M890.5 755.3L537.9 269.2c-12.8-17.6-39-17.6-51.7 0L133.5 755.3A8 8 0 00140 768h75c5.1 0 9.9-2.5 12.9-6.6L512 369.8l284.1 391.6c3 4.1 7.8 6.6 12.9 6.6h75c6.5 0 10.3-7.4 6.5-12.7z"></path>
                      <title>Asc</title>
                    </svg>
                  </span>

                </th>
              }
            </tr>
            <tr>
              @for (col of gridData.columns; track col) {
                <th>
                  <select
                    class="custom-select" (change)="updateOperationChange($event,col)">
                    @for (option of operationList; track option) {
                      <option [value]="option">
                        {{ option }}
                      </option>
                    }
                  </select>
                </th>
              }
            </tr>
            <tr>
              @for (col of gridData.columns; track col) {
                <th>
                  <input
                    type="text"
                    (change)="updateSelectedColumnCriteriaValue($event,col)"
                    placeholder="Value: separate by '#' if more"
                    class="custom-input"
                  >
                </th>
              }
            </tr>
            </thead>
            <tbody>
              @for (record of gridData.records; track record.keys()) {
                <tr>
                  @for (key of gridData.columns; track key) {
                        <td>{{ record.get(key) }}</td>
                    }
                </tr>
              }
            </tbody>
          </table>
          <div class="page-size-selector">
            Page size:
            <select [(ngModel)]="pageSize" (change)="onPageSizeChange(pageSize)">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="200">200</option>
              <option value="500">500</option>
              <option value="1000">1000</option>
            </select>
          </div>
          <div class="pagination">
            <button
              class="page-btn"
              (click)="onPageChange(pageNum - 1)"
              [disabled]="pageNum === 1">
              Previous
            </button>

            <button
              class="page-btn"
              (click)="onPageChange(pageNum + 1)"
              [disabled]="pageNum === totalPages">
              Next
            </button>

            <div class="pagination-info">
              Page {{ pageNum }} of {{ totalPages }} , total: {{ totalItems }}
            </div>
          </div>
        } @else {
          <div class="empty-state">
            No data
          </div>
        }
      </div>
    </div>
  </div>
  <div style="text-align: center;margin-top: 20px;">©2025 Jack</div>
</main>
